html{box-sizing: border-box;}

*{margin: 0;padding: 0;}

body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    line-height: 1.5;
    --tc: #111;
    --bc: #fff;
    --hc: #384;
    color: var(--tc);
    background: var(--bc);
}

body.dark{
    --tc: #fff;
    --bc: #111133;
    --hc: #fb0;
}

a{text-decoration: none;color: var(--hc);} a:hover{cursor: pointer;}

.big-container{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.container{
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.hero-image{
    background-color: rgb(4, 4, 139);
    background-image: url("./assets/hero-image-tmp.jpg");
    background-repeat: no-repeat;
    width: 20rem;
    height: 20rem;
    background-size: cover;
    background-position: center;
    border-radius: 3rem;
}

.btnToggle{
    width: 2rem;
    height: 1rem;
    background-color: gray;
    border-radius: 2rem;
    padding: 2.5px;
    transition: all 300ms ease-in-out;
}

.btnToggle > .inner-circle{
    width: 1rem;
    height: 1rem;
    border-radius: 2rem;
    background-color: white;
    transition: all 300ms ease-in-out;
    background-image: url('https://i.ibb.co/7JfqXxB/sunny.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.btnToggle.active{
    background: #00acee;
}

.btnToggle.active > .inner-circle{
    margin-left:1rem;
    background-image: url('https://i.ibb.co/FxzBYR9/night.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.text{
    margin:0 auto;
    padding: 2rem;   
    position: relative;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 800px){
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero-image{
        height: 10rem;
        width: 10rem;
        border-radius: 5rem;
    }
    .text{
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .btnToggle{
        margin: 0 auto;
    }
  
    .footer{
        bottom: 0;
        margin: 0 auto;
    }
}

