@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}

a{text-decoration: none;text-align: center;}


body{
    background-color:#101214;
    color: white;
}

.header{
    display: grid;
    justify-content: center;
}
.intro{
    font-size: x-large;
    padding-top: 10vh;
    text-align: center;
}

.intro a{
    font-size: 1.5rem;
    padding: 10px;
}

.intro a:hover{
    color:white;
    transition: 0.2s;
    cursor: pointer;
}

.container{
    display: grid ;
    grid-template-columns: 50% 50%;
}

.social{
    padding: 10vh;
    font-size: 1.5rem;
    text-align: center;
    justify-self: start;
    
    line-height: 1.5;
}

.social a:hover{
    color:white;
    font-size: 1.55rem;
    transition: 0.2s;
    cursor: pointer;
}

.dev-details{
    line-height: 1.5;
    justify-self: start;
    padding: 10vh;
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(168, 0, 0);
    color: white;
    text-align: center;
}

/* Tooltip container */
.tooltip {
    margin: 3px;
    position: relative;
    display: inline-block;
    text-decoration: black;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200%;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    bottom: 100%;
    left: 50%;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

@media screen and (max-width: 600px) {
    body{
        background-image: url('./assets/mobile-bg.jpg');
        font-size: 4vw;
    }

    h1{
        text-align: center;
    }

    .dev-details{
        font-size: 4vw;
    }
    
}


.icon-mangadex{
    background: url("./icons/mangadex-32.png") no-repeat;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-position: 0 0;
}

.icon-mal{
    background: url("./icons/mal-24.png") no-repeat;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-position: 0 0;
}