*{
    margin: 0;
    padding: 0;
}
/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

.intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 
.box{
  text-align: center;
} */