@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none;
}
/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

.container{
  padding: 20px;
  margin: auto;
  font-size: x-large;
  line-height: 1.5;
  
}

.manga-list li{ 
  margin: 1em;
}

@media screen and (max-width: 600px) {
  div.example {
    font-size: 3vw;
  }
}